<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Home">
    <!-- call Home.selectFromANSWERSByQUESTIONS_UID -->
    <select id="selectFromANSWERSByQUESTIONS_UID" 
        parameterType="Map" resultType="Map">
        select QUESTIONS_UID, EXAMPLE_UID
        from ANSWERS
        where QUESTIONS_UID = #{QUESTION_UID}
    </select>
</mapper>

